<launch>

  <param name="robot_description" command="$(find xacro)/xacro $(find franka_umi_description)/robots/hand.urdf.xacro arm_id:=panda" />
  <!-- <param name="robot_description" command="$(find xacro)/xacro $(find franka_description)/robots/common/hand.urdf.xacro arm_id:=panda" /> -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find franka_umi_description)/config/visualization.rviz" />
</launch>